# ==========================================
# Archivos compilados (Maven e IntelliJ)
# ==========================================
target/workspace.xml
out/
*.class

# ==========================================
# Empaquetados Java
# ==========================================
*.jar
*.war
*.ear

# ==========================================
# Configuración del IDE (IntelliJ IDEA)
# ==========================================
.idea/
*.iml

# ==========================================
# Archivos del Sistema Operativo
# ==========================================
.DS_Store
Thumbs.db