# Default ignored files
/workspace.xml
/tasks.xml
/usage.statistics.xml
/dictionaries
/shelf/
/compiler.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
*/target/
*/build/
*/classes/
/out/*
*.class
*.jar
*.war
*.ear
.DS_Store
Thumbs.db
/out/
/target/